/*importação da fonte personalizada icons*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: "Inter", sans-serif;
    --bg: #F3F5FC;
    --bg-secondary: #FFFFFF;
    --text: #0A3871;
    --text-secondary: #495057;
    --text-placeholder: #8b8b8b;
    /* --primary: #e53170;
    --secondary: #b07289;
    --actions: #f25f4c;
    --highlight: #ffffff;
    --shadow: 0px 0px 10px #e6e6e6;
    --shadow-error: 0px 0px 10px var(--actions); */
}

header{
    border: 1px solid rgb(60, 0, 255);
    /* margin: 30px 50px; */
    padding: 0.8rem;
    background-color: var(--bg);
}

.flex-container{
    padding: 40px;
    /* margin: 30px 50px; */
    border: 1px solid red;
    background-color: var(--bg);
    display: flex;
    justify-content: space-between;
    height: 100vh;
}
h1{
    font-family: var(--font);
    color: var(--text);
}
.container{
    border: 1px solid rgb(0, 60, 255);
    overflow-y: hidden;
    width: 60%;
}

aside.translate-container{
    border: 1px solid rgb(255, 140, 0);
    background-color: var(--bg-secondary);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
/* footer{
    background: red;
} */