/*importação da fonte personalizada icons*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: "Inter", sans-serif;
    --bg: #F3F5FC;
    --bg-secondary: #FFFFFF;
    --text: #0A3871;
    --text-secondary: #495057;
    --text-placeholder: #8b8b8b;
    /* --primary: #e53170;
    --secondary: #b07289;
    --actions: #f25f4c;
    --highlight: #ffffff;
    --shadow: 0px 0px 10px #e6e6e6;
    --shadow-error: 0px 0px 10px var(--actions); */
}


.flex-container{
    padding: 40px 70px;
    border: 1px solid red;
    background-color: var(--bg);
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    height: 100%;
}
.container{
    border: 1px solid rgb(0, 60, 255);
    height: 100vh;
}

aside.translate-container{
    background-color: var(--bg-secondary);

    border-radius: 32px;
}
/* footer{
    background: red;
} */