/*importação da fonte personalizada icons*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: "Inter", sans-serif;
    --bg: #F3F5FC;
    --bg-secondary: #FFFFFF;
    --text: #0A3871;
    --text-secondary: #495057;
    --text-placeholder: #8b8b8b;
}

header{
    border: 1px solid rgb(60, 0, 255);
    /* margin: 30px 50px; */
    padding: 0.8rem;
    background-color: var(--bg);
}

.flex-container{
    padding: 40px;
    /* margin: 30px 50px; */
    border: 1px solid red;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    height: 100vh;
}

h1,h4,small{
    font-family: var(--font);
    color: var(--text);
}

.container{
    /* border: 1px solid rgb(0, 60, 255); */
    overflow-y: hidden;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

textarea{
    background: none;
    border: none;
    resize: none;
    padding: 5px 10px;
    font-family: var(--font);
    font-size: 20px;
}

textarea:focus::placeholder{
    color:transparent;
}

textarea:focus{
    outline: none;
}

::placeholder {
    color: var(--text);
    padding: 0 10px;
    font-family: var(--font);
    font-size: 32px;
    font-weight: bold;
    opacity: 1; 
}
  
.btns-container{
    /* border: 2px solid purple; */
    margin:0 10px;
    width: auto;
}

button{
    color:var(--text);
    margin-top: 20px;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #0A3871;
    transition-duration: 0.4s;
    margin-bottom: 20px;
}

button:hover{
    background-color: #609ED4;
}
.cripto{
    color: var(--bg);
    background-color: var(--text);
}
.cripto:active{
        background-color: rgb(176, 171, 171);      
}

.descripto:active{
    background-color: rgb(176, 171, 171);      
}
aside.aside-container{
    /* border: 1px solid rgb(255, 140, 0); */
    background-color: var(--bg-secondary);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.translate-container{
    border: 2px solid palevioletred;
    padding-top: 50px;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
}

.boy{
    width: 100%;
    margin-bottom: 20px;
}

.btn-copy{
    border: 1px solid red;
    /* margin-top: 77%; */
    width: 60%;
}
.btn{
    width: 100%;
}
/* footer{
    background: red;
} */